<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- name comes from the spread of data in the subreddit res.render(). See index.js. -->
    <title><%= name %></title>
    <!-- Now we will refer to the public folder static assets. -->
    <!-- Instead of linking to a file we will be linking to the entire contents of that public directory. Since it is referenced in index.js we do not need to reference "/public/app.css". -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Express Demo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rand">Random</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/r/chickens">Chickens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/r/soccer">Soccer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/r/mightyharvest">Mighty Harvest</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Browsing the <%= name %> Subreddit</h1>
      <h2><%= description %></h2>
      <p><%= subscribers %> Total Subscribers</p>
      <!-- Render all posts using a loop. -->
      <hr />
      <% for(let post of posts) { %>
      <article>
        <p><%= post.title %> - <b><%= post.author %></b></p>
        <% if (post.img) { %>
        <img src="<%= post.img %>" alt="<%= post.description %>" />
        <% } %>
      </article>
      <% } %>
    </div>
  </body>
</html>
